<div id="fullpage">
    <div class="section"><img class="cover-img" src="<%= require('images/wenming/1.jpg') %>" alt=""/></div>
    <div class="section"><img class="cover-img" src="<%= require('images/wenming/2.jpg') %>" alt=""/></div>
    <div class="section content-section"  >
        <div class="h3 tc">中学组</div>
        <!-- Slider main container -->
        <div class="swiper middle-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/1.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市高新区中学</div>
                    <div>初二（9）班 高思怡《旭日在东方升起》</div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/2.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市良辅中学</div>
                    <div>初二（2）班 陈妍《太仓加油》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/3.png') %>" alt=""/>
                    </div>
                    <div>太仓市沙溪第一中学
                    </div>
                    <div>初一（5）班 屠茹杨《大白的坚守》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/1.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市沙溪镇岳王学校
                    </div>
                    <div>初二（2）班 何依文《必胜》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/413/1.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市浮桥镇浏家港中学
                    </div>
                    <div>初三（4）班 胡依宁《战疫》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/4.png') %>" alt=""/>
                    </div>
                    <div>太仓市双凤中学
                    </div>
                    <div>初二（7）班 王忆涵《童心抗疫 静待花开》
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>


        </div>

    </div>
    <div class="section content-section"  >

        <div class="h3 tc">幼小组</div>
        <!-- Slider main container -->
        <div class="swiper primary-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/5.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市浏河镇幼教中心
                    </div>
                    <div>大（4）班 王子钦《勇敢前行 加油太仓》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/413/2.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市实验小学
                    </div>
                    <div>三（6）班 马张宸《疫如梦，醒春归》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/411/1.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市朱棣文小学
                    </div>
                    <div>四（4）班 雷智博《抗疫加油》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/2.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市科教新城实验小学
                    </div>
                    <div>高文珺《“疫”尘不染 静待疫散》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/413/3.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市经贸小学
                    </div>
                    <div>四（2）班 闻熙雅《守护》

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/411/2.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市弇山小学
                    </div>
                    <div>六（5）班 张乐冉《寄情太仓 太仓加油》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/3.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市城厢镇第一小学
                    </div>
                    <div>六（1）班 陶思颖《同心战疫》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/4.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市高新区第三小学
                    </div>
                    <div>六（2）班 曹凌子馨《核酸我做到》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/411/3.png') %>" alt=""/>
                    </div>
                    <div>太仓市港城小学
                    </div>
                    <div>三（4）班 顾舜杰《太仓抗“疫”加油》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/5.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市沙溪镇第二小学
                    </div>
                    <div>五（4）班 钱思李《齐心协力战疫必胜》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/6.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市明德小学
                    </div>
                    <div>二（2）班 吴沛霖《齐心战疫》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/411/4.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市璜泾镇鹿河小学
                    </div>
                    <div>五（1）班 吴诗文《致英雄》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/412/7.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市双凤中心小学
                    </div>
                    <div>六（3）班 闫钰《病毒拜拜》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/413/4.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市双凤镇新湖小学
                    </div>
                    <div>六（4）班 周诗涵《长征》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/6.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市陆渡中心小学
                    </div>
                    <div>二（1）班 付子轩《共同战疫，太仓加油》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/7.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市洪泾小学
                    </div>
                    <div>六（2）班 汤梦媛《加油太仓》
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img-container">
                        <img class="container-img" src="<%= require('images/415/8.jpg') %>" alt=""/>
                    </div>
                    <div>太仓市青少年活动中心
                    </div>
                    <div>马兰花动漫 刘昱《童心抗疫》
                    </div>
                </div>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

        </div>
    </div>


</div>
