<div
  class="common-banner bgCover duijie d-flex align-items-center justify-content-center mb-4 c-container-fluid text-white"
>
  <div>
    <h1 class="py-3 px-2 text-center">成果、需求、团队、院校、需求、企业在线对接</h1>
    <div
      class="swiper-container duijie-swiper-container"
      id="duijie-swiper-container"
      style="height: 72px;"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <ul class="text-center">
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >王宇奇与江苏德耐美克电气有限公司对接成功王宇奇与江苏德耐美克电气有限公司对接成功</a
              >
            </li>
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >阴家龙与江苏孙悟空科技有限公司对接成功</a
              >
            </li>
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >于东玖与江苏省生产力促进中心高层次人才与外国专家服务处对接成功</a
              >
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="text-center">
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >王宇奇与江苏德耐美克电气有限公司对接成功</a
              >
            </li>
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >阴家龙与江苏孙悟空科技有限公司对接成功</a
              >
            </li>
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >于东玖与江苏省生产力促进中心高层次人才与外国专家服务处对接成功</a
              >
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="text-center">
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >王宇奇与江苏德耐美克电气有限公司对接成功</a
              >
            </li>
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >阴家龙与江苏孙悟空科技有限公司对接成功</a
              >
            </li>
            <li>
              <img class="bi" src="<%= require('images/icons/volumn.svg') %>" alt="" /><a
                href="#"
                class="text-white"
                >于东玖与江苏省生产力促进中心高层次人才与外国专家服务处对接成功</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
