<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Title</title>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="<%= require('assets2/plugins/lulu/ui.css') %>" />
    <script src="<%= require('assets2/plugins/jquery3.5.1/jquery.js') %>"></script>
  </head>
  <body class="bgWhite">
    <%= require('./components/header.ejs')() %> <%= main %> <%= require('./components/footer.ejs')()
    %>

    <script src="<%= require('assets2/plugins/lulu/all.js') %>"></script>
    <script src="<%= require('assets2/plugins/lulu/polyfill.js') %>"></script>
  </body>
</html>
